<!DOCTYPE html>
<html>
<head>
  <title>User List</title>
</head>
<body>
  <h1>Classes</h1>
  <form action="/opening" method="post">
    <table style="width: 100%;">
      <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Class ID</th>
        <th>Weekday</th>
        <th>Time</th>
        <th>Date</th>
        <th> </th>
      </tr>
      <% classes.forEach(Class => { %>
        <tr>
            <th><%= Class.courseID%></th>
            <th><%= Class.courseName%></th>
            <th><%= Class.classID%></th>
            <th><%= Class.weekday%></th>
            <th>from <%= Class.timeStart%> to <%= Class.timeEnd%></th>
            <th>from <%= Class.dateStart%> to <%= Class.dateEnd%></th>
            <th><input type="checkbox" name= 'classID'  value= <%= Class.classID%> ></th>
        </tr>
    <% }) %>
    </table>
    <button type="submit">Confirm</button>
  </form>
</body>
</html>
